<div class="row row-main">
  <div class="col-sm-12">
    <div class="well well-dark well-main">
      <div class="row">
        <div class="col-sm-9">
          <h1>Cras mattis consectetur purus sit amet fermentum.</h1>
          <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
          <a class="btn btn-lg btn-primary" href="#">Pharetra Euismod <i class="fa fa-chevron-circle-right"></i></a>
        </div>
        <div class="col-sm-3">
          <ul class="link-list">
            <li><a href="#">Fringilla Ultricies Tellus Vestibulum</a></li>
            <li><a href="#">Sit Elit Aenean Fusce</a></li>
            <li><a href="#">Nibh Magna Porta Ipsum Fusce</a></li>
            <li><a href="#">Ligula Fermentum Ultricies Vehicula Parturient</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row row-secondary">
  <div class="col-sm-12">
    <div class="well well-secondary">
      <h2>Cras Vulputate Purus</h2>
      <p class="lead">Sed posuere consectetur est at lobortis.</p>
      <a class="btn btn-lg btn-primary" href="#">Pharetra Euismod <i class="fa fa-chevron-circle-right"></i></a>
    </div>
  </div>
</div>
<div class="row row-two-column">
  <div class="col-sm-6">
    <div class="well">
      <h2>Nibh Ornare Purus Commodo</h2>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis.</p>
      <p class="pull-right"><a href="#">Pharetra Euismod <i class="fa fa-chevron-right"></i></a></p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="well">
      <h2>Ornare Lorem Ultricies</h2>
      <p>Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo.</p>
      <p class="pull-right"><a href="#">Commodo Nullam <i class="fa fa-chevron-right"></i></a></p>
    </div>
  </div>
</div>
<div class="row row-three-column">
  <div class="col-sm-12">
    <div class="well well-dark well-three-column">
      <div class="row">
        <div class="col-sm-4">
          <a class="btn btn-lg btn-primary btn-block" href="#"><i class="fa fa-file-o"></i> Adipiscing</a>
          <h3>Egestas Vehicula Commodo Parturient Elit</h3>
          <p>Cras mattis consectetur purus sit amet fermentum.</p>
          <p><a href="">Read more</a></p>
        </div>
        <div class="col-sm-4">
          <a class="btn btn-lg btn-primary btn-block" href="#"><i class="fa fa-file-o"></i> Cursus</a>
          <h3>Egestas Tellus Porta Sem Condimentum</h3>
          <p>Sed posuere consectetur est at lobortis.</p>
          <p><a href="">Read more</a></p>
        </div>
        <div class="col-sm-4">
          <a class="btn btn-lg btn-primary btn-block" href="#"><i class="fa fa-file-o"></i> Risus</a>
          <h3>Fringilla Aenean Tristique Porta Elit</h3>
          <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          <p><a href="">Read more</a></p>
        </div>
      </div>
    </div>
  </div>
</div>